<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter2">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/study1"
        android:label="宗玥的第二个作业"
        android:roundIcon="@drawable/study1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DialogActivity" android:theme="@style/Theme.AppCompat.Dialog"></activity>
        <activity android:name=".NormalActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.example.chapter2.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>